<div>
    <h1 class="cyber-h">News</h1>
    <div class="row">
        <div class="col-md-4">
            <img id="faceImage" src="/assets/EyesOpenMouthClosed.png" alt="Eyes" style="width: 400px; height: 450px;" />
        </div>
        <div class="col-md-8">
            @* news links here *@

            
        </div>

    </div>

</div>
<script src="js/scripts.js"></script>